<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>889022132532-paft892grvnlscu624s7u3a9n160hqgk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.889022132532-paft892grvnlscu624s7u3a9n160hqgk</string>
	<key>API_KEY</key>
	<string>AIzaSyCGlW66syWw6PJQTeqRSLMZE3y_KvWZnsY</string>
	<key>GCM_SENDER_ID</key>
	<string>889022132532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.winstanley.TFGMLive</string>
	<key>PROJECT_ID</key>
	<string>tramtimes-34420</string>
	<key>STORAGE_BUCKET</key>
	<string>tramtimes-34420.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:889022132532:ios:15fc1a1bcc913a8d</string>
	<key>DATABASE_URL</key>
	<string>https://tramtimes-34420.firebaseio.com</string>
</dict>
</plist>